<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image to PDF</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <!-- <div class="container">
        <h2>Optical Character Recognition Nodejs App</h2>
        <p>Detect the text from Image 😎</p>
    </div> -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="text-center">Optical Character Recognition Nodejs App</h1>
            <!--class="display-4"-->
            <p class="lead text-center">Detect the text from Image 😎</p>
        </div>
    </div>

    <form action="/upload" method="POST" enctype="multipart/form-data" class="col-lg-6 offset-lg-3">
        <div class="form-group">
            <label for="exampleFormControlFile1">Upload Image file consisting of text</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="Avatar">
        </div>
        <button type="submit" class="btn btn-outline-danger">Convert</button>

    </form>



    <!-- <p>Upload Image file consisting of text</p>
    <form action="/upload" method="POST" enctype="multipart/form-data">

        <input type="file" name="Avatar">
        <button type="submit" class="btn btn-outline-danger">Convert</button>
    </form> -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</body>

</html>